{% extends 'base.html' %}

{% block content %}
    <h1 style="color: #96FC72"> 회원가입에 성공하였습니다. </h1>

<text class="complete-text">"{{ user.nickname }}"님의 회원가입을 진심으로 축하드립니다.</span> <br />
<span>회원가입시 입력하신 이메일 주소로 인증메일이 발송되었습니다.</span> <br />
<span>발송된 인증메일을 확인하신 후 인증 처리를 하시면 사이트를 원활하게 이용하실 수 있습니다.</span><br />
<span>감사합니다.</span><br />

<span>아이디 : {{ user.username }}</span><br />
<span>이메일 주소 : {{ user.email }} </span><br /><br />
<div ><a href ="{{address}}">인증하러 가기</a></span>

    {% endblock %}